recursive-include emerge *
recursive-include export *
recursive-include configs *
recursive-include tests *
include CREDITS.md
include README.md
include requirements.txt

recursive-exclude .git *
recursive-exclude venv *
recursive-exclude .github *
recursive-exclude .pytest_cache *
recursive-exclude .vscode *
recursive-exclude build *
recursive-exclude dist *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig