wheel==0.32.2
astroid==2.5.0
attrs==19.3.0
autopep8==1.5.4
click==7.1.2
colorama==0.4.3
coloredlogs==10.0
decorator==4.4.2
humanfriendly==4.18
interrogate==1.2.0
isort==4.3.21
lazy-object-proxy==1.4.3
networkx==2.4
numpy==1.20.0
prettytable==0.7.2
py==1.9.0
pycodestyle==2.6.0
pygraphviz==1.6
pylint==2.7.1
pyparsing==2.4.5
python-louvain==0.14
PyYAML==5.2
rope==0.16.0
six==1.13.0
tabulate==0.8.7
toml==0.10.1
wrapt==1.11.2
