---
project_name: swift_example_project
loglevel: info
analyses:
- analysis_name: full swift check
  source_directory: /Users/user1/emerge/project/source
  only_permit_languages:
  - swift
  only_permit_file_extensions:
  - .swift
  file_scan:
  - number_of_methods
  - source_lines_of_code
  - dependency_graph
  - fan_in_out
  - louvain_modularity
  - tfidf
  entity_scan:
  - dependency_graph
  - inheritance_graph
  - complete_graph
  - source_lines_of_code
  - number_of_methods
  - fan_in_out
  - louvain_modularity
  - tfidf
  export:
  - directory: /Users/user1/emerge/project/export
  - graphml
  - dot
  - json
  - tabular_file
  - tabular_console_overall
  - d3
